

<h2>R123 - Bay Street - FY 2009, Q1 - Comparison to Last Year (FY 2008, Q1)</h2>

<div class="top-right-create-box">
  <%=link_to "Print View", '#', :target => '_blank', :class => 'main-content-button' %> &nbsp;
  <%=link_to "View Quarter Performance", '/stores/1', :class => 'main-content-button' %>
</div>

<%= stylesheet_link_tag 'widget' %>

<div class="widget big-info-area">
  <div class="info">
    <p>Compare Previous Year's Expenses</p>
    <h1><a href="/stores/1/compare">&laquo;</a> Q1, 2009 vs. Q1, 2008 <a href="/stores/1/compare">&raquo;</a></h1>
    <p>for</p>
    <h1>Bay Street - R123</h1>
    <p>Total</p>
    <div class="total green"><span>30% Improved</span></div>
    <div class="total-spent">$900 Reduction in Spend</div>
    
    <p>&nbsp;</p>
    <div class="total-performance-graphs">
      <div class="graph-row under-budget with-rank">
        <div class="graph-rank"><h1>10th</h1></div>
        <div class="label">FY'09 Q1</div>
        <div class="spent-number">$1,500 of $3,000 Spent</div>
        <div class="graph">
          <div class="graph-spent" style="width:50%">50%</div>
          <div class="graph-left"></div>
        </div>
      </div>
      
      <div class="clear-left"></div>
      
      <div class="graph-row near-budget with-rank">
        <div class="graph-rank"><h1>12th</h1></div>
        <div class="label">FY'08 Q1</div>
        <div class="spent-number">$2,400 of $3,000 Spent</div>
        <div class="graph">
          <div class="graph-spent" style="width:80%">80%</div>
          <div class="graph-left"></div>
        </div>
      </div>
      
      <div class="clear-left"></div>
    </div>
    
    <p>&nbsp;</p>
    
  </div>
  
  <div class="graphs">
    
    <div class="standard-vendor vendor-graphs-box first">
      <div class="graph-row under-budget">
        <div class="label">XPDX FY'09 Q1</div>
        <div class="spent-number">10% Improvement</div>
        <div class="graph">
          <div class="graph-spent" style="width:70%">70%</div>
          <div class="graph-left"></div>
        </div>
      </div>
      
      <div class="clear-left"></div>
      
      <div class="graph-row near-budget">
        <div class="label">XPDX FY'08 Q1</div>
        <div class="graph">
          <div class="graph-spent" style="width:80%">80%</div>
          <div class="graph-left"></div>
        </div>
      </div>
      
      <div class="clear-left"></div>
    </div>
    
    
    <div class="stationary-vendor vendor-graphs-box">
      <div class="graph-row near-budget">
        <div class="label">MCM FY'09 Q1</div>
        <div class="spent-number">Same Performance</div>
        <div class="graph">
          <div class="graph-spent" style="width:80%">80%</div>
          <div class="graph-left"></div>
        </div>
      </div>
      
      <div class="clear-left"></div>
      
      <div class="graph-row near-budget">
        <div class="label">MCM FY'08 Q1</div>
        <div class="graph">
          <div class="graph-spent" style="width:80%">80%</div>
          <div class="graph-left"></div>
        </div>
      </div>
      
      <div class="clear-left"></div>
    </div>
    
    
    
    <div class="genius-bar-vendor vendor-graphs-box last">
      <div class="graph-row near-budget">
        <div class="label">Staples FY'09 Q1</div>
        <div class="spent-number">30% Improvement</div>
        <div class="graph">
          <div class="graph-spent" style="width:80%">80%</div>
          <div class="graph-left"></div>
        </div>
      </div>
      
      <div class="clear-left"></div>
      
      <div class="graph-row over-budget">
        <div class="label">Staples FY'08 Q1</div>
        <div class="graph">
          <div class="graph-spent" style="width:90%">110%</div>
          <div class="graph-left"></div>
        </div>
      </div>
    </div>
    
    <div class="clear-left"></div>
  </div>
  
  <div class="clear"></div>
</div>
