
<h2>Edit XPDX Login</h2>

<div id="app_data" class="app-section">
  <h3>User Info</h3>
  
  <div class="field-rows">
    <div class="field-row"><div class="field-label"><label for="">Email</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
    <div class="field-row"><div class="field-label"><label for="">Password</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
  </div>
</div>

<div class="centered top_pad">
  <%= submit_tag 'Save User' %>
</div>